@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');

body {
  width: 60%;
  margin: auto;
  background-color: rgb(171, 197, 219);
}

p, li {
  font-family: "Open Sans";
  font-size: 16pt;
}

h1, h2 {
  font-family: "Inconsolata";
}
