@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Recursive');

body {
  width: 85%;
  margin: auto;
  background-color: rgb(171, 197, 219);
}

p, li, label, input, option, select, button {
  font-family: "Open Sans";
  font-size: 16pt;
}

p {
	text-align: justify;
}

li {
	margin: 10px 5px;
	padding-left: 5px;
}

h1, h2 {
  font-family: "Recursive";
  font-weight: bold;
}

h2 {
  color: #003262;
}

a {
  color: #003262;
}

th, td {
  font-family: "Open Sans";
  font-size: 16pt;
  /* width: 100px; */
}

table, th, td {
  border: 2px solid black;
  border-style:
}

table {
  border-collapse: collapse;
}

.probNumTd {
  border-style: double;
  border-left-width: 10px;
}

#sketch1-div {
  display: table;
  margin: 0 auto;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: "Open Sans";
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #003262;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #003262;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}